body
{
	margin: 0px;
}


.meny
{
	width: 100%;
	height: 80px;
	background-color:blue;
	position: static;
	z-index: 1;
}

.meny td
{
	background-color: yellow;
	height: 74px;
	width: 100px;
	padding: 2;
	text-align: center;
}

.middlediv
{
	position: static;
	background-color: grey;
	height: 100vw;
	width: 90vw;
	display: block;
	margin: 0 auto;
}

.divleft
{
	height: 300px;
	width: 500px;
	padding: 20px;
	float: left;
	margin: 50px 0px 0px 50px; 
	background-color: blue;
}
.divright
{
	height: 300px;
	width: 500px;
	padding: 20px;
	float: right;
	margin: 440px 50px 0px 0px; 
	background-color: blue;
}

#block3 {
	margin-top: 440px;
}

.searchbox
{
 	background-color: red;
 	height: 74px;
 	width: 100px;
	padding: 2;
	text-align: center;
 	height:30px;
 	width: 500px;
 	display:block;
 	margin:auto;	
}
