body
{
	margin: 0px;
}


.meny
{
	width: 100%;
	height: 80px;
	background-color:blue;
}

.meny td
{
	background-color: red;
	height: 74px;
	width: 100px;
	padding: 2;
	text-align: center;
}

.middlediv
{
	background-color: red;
}