@import url('https://fonts.googleapis.com/css?family=Exo+2');

body
{
	margin: 0px;
	background-color: #81d2fd;
	text-align: center;
}

.meny
{
	width: 1000px;
	height: 80px;
	display: block;
	margin: auto;
	border: 2px solid #81d2fd;
	position: static;
	z-index: 1;

}

.meny td
{
	background-color: white;
	height: 74px;
	width: 100px;
	padding: 2;
	text-align: center;

}

.middlediv
{
	background-color: white;
	width: 1000px;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

#about_div
{
	text-align:center;
	margin: auto;
	width: 1000px;
	font-family: 'Exo 2', sans-serif;
}

.legoman_img
{
	height: 250px;
}

.speechbubble
{	
	display: block;
	margin: 100px auto 0 auto;
	background-image: url("images/speechbubble_right.svg");
	background-repeat: no-repeat;
	width: 420px;
	height: 300px;
    background-position: center;
	font-family: 'Exo 2', sans-serif;	
	padding: 50px 150px;

}

.about_speech_left
{
	display: block;
	margin: 0 auto;
	background-image: url("images/speechbubble_left.png");
	background-repeat: no-repeat;
    background-position: center;
	height: 600px;
	width: 540px;
	font-family: 'Exo 2', sans-serif;
}

.about_speech_right
{
	display: block;
	margin: 0 auto;
	background-image: url("images/speechbubble_right.png");
	background-repeat: no-repeat;
    background-position: center;
	height: 600px;
	width: 540px;
	font-family: 'Exo 2', sans-serif;
}
.abouttable
{
	margin: 0 auto;
}

.abouth1
{
	padding-top: 160px;
}

table
{
    border-spacing: 6px; 
	table-layout: fixed;
	
}


th, td, tr
{	
	border-radius: 5px;
	table-layout: fixed;
	height: 60px;
	width: auto;
}

#block3 
{
	margin-top: 440px;
}

#startpagetext
{
	width: 700px;
	display: block;
	margin: auto;
	text-align: center;

}

.searchbox
{
 	background-color: white;
	text-align: center;
 	height:30px;
 	width: 85%;
 	display:block;
 	margin:auto;
	border: 0px solid;
	font-family: 'Exo 2', sans-serif;
	border-right:none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;	
}

/*Placeholder color*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    gray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    gray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    gray;
}

.searchbutton 
{
	float: left;
	color: white;
	background-color: #ff5454;
	border-right: 0px solid;
	border-top: 0px solid;
	border-bottom: 0px solid;
	border-left: 0px;
	font-family: 'Exo 2', sans-serif;
	height: 32px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;	
}

.headingstart 
{
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	margin: 0;
	padding-bottom: 2vh;
	font-size: 70px;
	color: white;
}
.menyfont
{
	font-family: 'Exo 2', sans-serif;
	text-align: center;
}


menyfont, a:visited

{
	text-decoration: none;	
}

menyfont, a:active
{
	font-size: 90%;
	text-decoration: none;
}


menyfont, a:link
{
	color: black;
	text-decoration: none;
}

input 
{
	float:left;
}

#searchbox_menu
{
	border: 1px solid lightgray;
	border-right: none;
}

input#searchbox_menu.searchbox
{
	margin-left: 25px;
}

.pagebutton
{
	margin-top: 20px;
	width: 100px;
}

.startpagebg
{
	background-color: #81d2fd;
	height:100vh;
}

.displaytable
{	
	margin: 0 auto;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	border-collapse: collapse;
	
}

.displaytable td:first-child+td+td+td
{	
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	border-collapse: collapse;
	
}

.displaytableset
{	
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	border-collapse: collapse;
}
.displaytable td
{
	border: 1px solid #81d2fd;
	border-radius: 5px;
}

.displaytableset td
{
	border: 1px solid #81d2fd;
	border-radius: 5px;
}

#searchboxmeny
{
	width: 80%;
}

#searchbuttonmeny
{
	height: 34px;
}

#starttable td
{	
	text-align: center;
}

#choosebrick
{
	background-image: images/choose_lego.png;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
	width: 100px;

}
input#choosebrick
{
	float: right;
}

.pagefooter
{
	display: block;
	float: bottom;
	height: 100px;
    width: 1000px;
	background-color: white;
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
	
}

.divleft
{
	height: 400px;
	width: 600px;
	padding: 20px;
	float: left;
	margin: 25px 0px 25px 0px; 
	background-color: blue;
	font-family: 'Exo 2', sans-serif;
	border-radius: 30px;
}

.divright
{
	height: 400px;
	width: 600px;
	padding: 20px;
	float: right;
	margin: 25px 0px 25px 0px; 
	background-color: blue;
	font-family: 'Exo 2', sans-serif;
	border-radius: 30px;
}

.floatright
{
	float: right;
}

.floatleft
{
	float: left;
}

#divylva
{
	background-color: #e495f9;
}
#divadrian
{
	background-color: #91fc8f;
}

#divdaniel
{
	background-color: #f2d576;
}

#divemil
{
	background-color: #fcb0c2;
}



